/* #region navbar*/
/* #endregion*/

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* #region navbar*/
.navbar {
  width: 100%;
  height: 50px;
  background-color: #000;
  position: sticky;
  top: 0;
}

.navbar-container {
  font-family: "Sen", sans-serif;
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: #fff;
}

.logo-container {
  flex: 1;
}
.logo {
  font-size: 30px;
  color: #4bdf00;
}
.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}
.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-text-container {
  margin: 0 20px;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.toggle-icon {
  color: goldenrod;
  font-size: 18px;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  right: 1px;
  cursor: pointer;
}

/* #endregion*/

/* #region sidebar*/
.sidebar {
  width: 50px;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
}
/* #endregion*/
